{# template id | Category | Title | Image:Image,900,600 | Synopsis | Published:Date | Tags | Readlength:number,1,10 #}

<div class="grid grid-cols-1 md:grid-cols-3 gap-3">
    {% if posts | length %}
    {% for post in posts %}
    <!-- card-->
    <div class="md:p-8 p-2 bg-white">
        <!--Banner image-->
        <img
                class="rounded-lg w-full"
                src="{{ post.image }}
          "
        />

        <!--Tag-->
        <p class="text-{{ theme_base_colour }}-500 font-semibold text-base mt-2">{{ post.category }}</p>
        <!--Title-->
        <h1
                class="font-semibold text-gray-900 leading-none text-xl mt-1 capitalize truncate"
        >
            {{ post.title }}
        </h1>
        <!--Description-->
        <div class="max-w-full " text-base font-medium tracking-wide text-gray-600 mt-1
        ">

        {{ post.synopsis }}


    </div>
    <div class="flex items-center space-x-2 mt-20">
        <!--Author's profile photo-->
        <img
                class="w-10 h-10 object-cover object-center rounded-full"
                src="https://randomuser.me/api/portraits/men/54.jpg"
                alt="random user"
        />
        <div>
            <!--Author name-->
            <p class="text-gray-900 font-semibold">Lugano Shabani</p>
            <p class="text-gray-500 font-semibold text-sm">
                {{ post.published }} &middot; {{ post.readlength }} min read
            </p>
        </div>
    </div>
</div>
{% endfor %}
    {% else %}
        <div class="text-red">Error loading data ... is there blog-listing1.json?</div>
    {% endif %}
</div>
