<!-- component -->
<div class="flex flex-wrap flex-col">
    <div class="flex flex-wrap">
        <button class="bg-transparent hover:bg-grey text-grey-dark font-semibold hover:text-white py-2 px-4 border border-grey hover:border-transparent rounded mr-2">
            Button
        </button>
        <button class="bg-transparent hover:bg-{{ theme_base_colour }} text-{{ theme_base_colour }}-dark font-semibold hover:text-white py-2 px-4 border border-{{ theme_base_colour }} hover:border-transparent rounded mr-2">
            Button
        </button>
        <button class="bg-transparent hover:bg-teal text-teal-dark font-semibold hover:text-white py-2 px-4 border border-teal hover:border-transparent rounded mr-2">
            Button
        </button>
        <button class="bg-transparent hover:bg-green text-green-dark font-semibold hover:text-white py-2 px-4 border border-green hover:border-transparent rounded mr-2">
            Button
        </button>
        <button class="bg-transparent hover:bg-yellow text-yellow-dark font-semibold hover:text-white py-2 px-4 border border-yellow hover:border-transparent rounded mr-2">
            Button
        </button>
        <button class="bg-transparent hover:bg-orange text-orange-dark font-semibold hover:text-white py-2 px-4 border border-orange hover:border-transparent rounded mr-2">
            Button
        </button>
        <button class="bg-transparent hover:bg-red text-red-dark font-semibold hover:text-white py-2 px-4 border border-red hover:border-transparent rounded mr-2">
            Button
        </button>
        <button class="bg-transparent hover:bg-pink text-pink-dark font-semibold hover:text-white py-2 px-4 border border-pink hover:border-transparent rounded mr-2">
            Button
        </button>
    </div>
    <div class="flex flex-wrap mt-2">
        <button class="bg-transparent hover:bg-grey text-grey-dark font-semibold hover:text-white py-2 px-4 border border-grey hover:border-transparent rounded-full mr-2">
            Button
        </button>
        <button class="bg-transparent hover:bg-{{ theme_base_colour }} text-{{ theme_base_colour }}-dark font-semibold hover:text-white py-2 px-4 border border-{{ theme_base_colour }} hover:border-transparent rounded-full mr-2">
            Button
        </button>
        <button class="bg-transparent hover:bg-teal text-teal-dark font-semibold hover:text-white py-2 px-4 border border-teal hover:border-transparent rounded-full mr-2">
            Button
        </button>
        <button class="bg-transparent hover:bg-green text-green-dark font-semibold hover:text-white py-2 px-4 border border-green hover:border-transparent rounded-full mr-2">
            Button
        </button>
        <button class="bg-transparent hover:bg-yellow text-yellow-dark font-semibold hover:text-white py-2 px-4 border border-yellow hover:border-transparent rounded-full mr-2">
            Button
        </button>
        <button class="bg-transparent hover:bg-orange text-orange-dark font-semibold hover:text-white py-2 px-4 border border-orange hover:border-transparent rounded-full mr-2">
            Button
        </button>
        <button class="bg-transparent hover:bg-red text-red-dark font-semibold hover:text-white py-2 px-4 border border-red hover:border-transparent rounded-full mr-2">
            Button
        </button>
        <button class="bg-transparent hover:bg-pink text-pink-dark font-semibold hover:text-white py-2 px-4 border border-pink hover:border-transparent rounded-full mr-2">
            Button
        </button>
    </div>
</div>