
<div class="relative bg-{{theme_base_colour}}-100 dark:bg-{{theme_base_colour}}-800">
    <div class="flex flex-col sm:flex-row sm:justify-around ">
        <div class="w-72 bg-white">
            <nav class="mt-10 px-6 ">
                <a class="hover:text-{{theme_base_colour}}-800 hover:bg-{{theme_base_colour}}-100 flex items-center p-2 my-6 transition-colors dark:hover:text-white dark:hover:bg-{{theme_base_colour}}-600 duration-200  text-{{theme_base_colour}}-600 dark:text-{{theme_base_colour}}-400 rounded-lg " href="#">
                    <span class="mx-4 text-lg font-normal">
                        Element
                    </span>
                    <span class="flex-grow text-right">
                    </span>
                </a>
                <a class="hover:text-{{theme_base_colour}}-800 hover:bg-{{theme_base_colour}}-100 flex items-center p-2 my-6 transition-colors dark:hover:text-white dark:hover:bg-{{theme_base_colour}}-600 duration-200  text-{{theme_base_colour}}-800 dark:text-{{theme_base_colour}}-100 rounded-lg bg-{{theme_base_colour}}-100 dark:bg-{{theme_base_colour}}-600" href="#">
                    <span class="mx-4 text-lg font-normal">
                        Form
                    </span>
                    <span class="flex-grow text-right">
                    </span>
                </a>
                <a class="hover:text-{{theme_base_colour}}-800 hover:bg-{{theme_base_colour}}-100 flex items-center p-2 my-6 transition-colors dark:hover:text-white dark:hover:bg-{{theme_base_colour}}-600 duration-200  text-{{theme_base_colour}}-600 dark:text-{{theme_base_colour}}-400 rounded-lg " href="#">
                    <span class="mx-4 text-lg font-normal">
                        Commerce
                    </span>
                    <span class="flex-grow text-right">
                    </span>
                </a>
                <a class="hover:text-{{theme_base_colour}}-800 hover:bg-{{theme_base_colour}}-100 flex items-center p-2 my-6 transition-colors dark:hover:text-white dark:hover:bg-{{theme_base_colour}}-600 duration-200  text-{{theme_base_colour}}-600 dark:text-{{theme_base_colour}}-400 rounded-lg " href="#">
                    <span class="mx-4 text-lg font-normal">
                        Navigation
                    </span>
                    <span class="flex-grow text-right">
                    </span>
                </a>
            </nav>
        </div>
    </div>
</div>

