{# data id:sitemenu src: sitemenu.json #}
{% extends "base.twig" %}
{% block content %}
    <div class="relative overflow-hidden">
        <div class="container mx-auto relative px-4">
            <div class="my-2">
                {% set types = listAllComponentTypes('_components') %}
                <span><a href="/sections?t=*" class="btn ajax">All</a></span> |
                {% for t, o in types %}
                    <span><a href="/sections?t={{ t }}" class="btn btn-secondary ajax   z">{{ t }}</a></span>
                {% endfor %}
            </div>
            {% set type = inRequest('t', '') %}
            {% set sections = listComponentsOfType('_components', type) %}

            {% for i in sections %}

                {% set pg = '_components/' ~ i.name ~ '.twig' %}
                <div class="bg-indigo-50 p-4 my-8 flex justify-between items-center -mx-2 rounded-xl">
                    <span>{{ i.name }}
                        {% if (i.info) %} <span class="ml-2 text-gray-300">{{ i.info }}</span>{% endif %}
                    </span>
                    {{ makeCopyWidget(pg) | raw }}
                </div>

                {% include pg %}


            {% endfor %}
        </div>
    </div>
    <script>
        function copyComponent(id) {
            var copyText = document.getElementById(id);
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");
            var tooltip = document.getElementById('tt' + id);
            tooltip.innerHTML = "Copied!";
        }

        function outFunc(id) {
            var tooltip = document.getElementById('tt' + id);
            tooltip.innerHTML = "Copy to clipboard";
        }
    </script>
{% endblock %}