<div class="flex flex-wrap">
    {% for movie in  movies %}
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
            <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">{{ movie.Film }} ({{ movie.Year_of_cinema_release }})</h2>
            <p class="leading-relaxed text-base mb-4">dir. {{ movie.Director }}</p>
            <p class="leading-relaxed text-base mb-4">Starring {{ movie.Leading_actors }}</p>
            <a href="#!/{{ movie.id }}" class="text-indigo-500 inline-flex items-center">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
    {% endfor %}

</div>